/* Setting Background color */
body { 

    /* width: 800px; */
    margin: 0 auto;
    background-image: url("../images/crystall-ball-2.png");
    color: white;
    font-size: 22px; 
    text-shadow: 1px 12px 12px #48FF2B;
}

/* Shadow effect to game name */
.gameHeading {
    text-shadow: 1px 12px 6px #FF2BF8;
    text-align: center; 
    font-size: 33px;
    padding : 20px;
    margin: 10px; 
    
}

p {
    margin: 25px; 
}